*{
    background-color: #e2a33e;
}
#SantaKeHath{
    animation:hand 1s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
    overflow: hidden;
}
@keyframes hand{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg);
    }
}
.text{
    font-size: 90px;
    text-align: right;
    top:0;
    right:0;
    position: absolute;
    font-family: "Mountains of Christmas";
    color: #EA4630;
}
#p2{
    font-size: 35px;
    position:absolute;
    right:0;
    top:370px;
     letter-spacing:2px;
     font-family: cursive;
     color: #EA4630;
}
#newscreen{
     width: 100%;
		  height: 100%;
		  position: fixed;
		  top: 0;
          left: 0;
          visibility:hidden;
          
      background-color: #DE4242;
}
.rel{
position: relative;
left:0;
width:766px;
 height:609px;
}


@media screen and (max-width:1134px) {
    .text{
        font-size: 80px;
    }
    .rel{
         width: 500px;
    }
   
  }
  @media screen and (max-width: 890px) {
    .text{
        font-size: 70px;
    }
    .rel{
         width: 300px;
    }
    #p2{
        font-size: 32px;
    }
  }
  @media screen and (max-width: 722px) {
    .text{
        font-size: 60px;
        top:90px;
    }
    .rel{
         width: 250px;
    }
    #p2{
        font-size: 29px;
    }
   
  }
  @media screen and (max-width: 526px) {
    .text{
        font-size: 50px;
        top:90px;
    }
    .rel{
         width: 250px;
    }
    
    #p2{
        font-size: 26px;
    }
   
  }
  @media screen and (max-width: 444px) {
    .text{
        font-size: 40px;
        top:90px
    }
    .rel{
         width: 240px;
         
    }
    #p2{
        font-size: 23px;
        top:450px;
    }
   
  }
  

  #lightrope {
      visibility: hidden;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 9999999999;
    top:-30px;
    padding: 0;
    pointer-events: none;
    width: 100%;
  }
  #lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
  }
  #lightrope li:nth-child(2n+1) {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
  }
  #lightrope li:nth-child(4n+2) {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    animation-name: flash-3;
    animation-duration: 1.1s;
  }
  #lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
  }
  #lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
  }
  #lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
  }
  #lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
  }
  #lightrope li:last-child:after {
    content: none;
  }
  #lightrope li:first-child {
    margin-left: -40px;
  }
  @keyframes flash-1 {
    0%, 100% {
      background: rgba(0, 247, 165, 1);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
   }
    50% {
      background: rgba(0, 247, 165, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
   }
  }
  @keyframes flash-2 {
    0%, 100% {
      background: rgba(0, 255, 255, 1);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
   }
    50% {
      background: rgba(0, 255, 255, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
   }
  }
  @keyframes flash-3 {
    0%, 100% {
      background: rgba(247, 0, 148, 1);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
   }
    50% {
      background: rgba(247, 0, 148, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
   }
  }
