body{
    background:black;
    width:100%;
  }
  canvas{
    background:#000;
  }
  h1{
    color: white;
     position: absolute;
     
   text-align: center;
   width: 100%;
  }
  .glow1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow1 1s ease-in-out infinite alternate;
    -moz-animation: glow1 1s ease-in-out infinite alternate;
    animation: glow1 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ec3572, 0 0 50px #ec3572, 0 0 60px #ec3572, 0 0 70px #ec3572, 0 0 80px #ec3572;
    }
  }

  svg{
      top:400px;
      width:100%;
      align-items: center;
  }
 
.glow2{
    position:absolute;
    top:220px;
    color:white;
    font-size: 22px;
    color: #fff;
    width:100%;
    text-align: center;
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;

  }
  @keyframes glow2{
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e6bc00, 0 0 40px #e6bc00, 0 0 50px #e6bc00, 0 0 60px #e6bc00, 0 0 70px #e6bc00;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ec3572, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }

    #slast{
        font-size: 30px;
        text-align: center;
        position: relative; 
        width: 100%;
        font-family:'Great Vibes';
         color:#fff;
         top: 350px;
    }
    #last{
         color:white;
         font-family: cursive;
         position: absolute;
         top:400px;
         width:100%;
    }

    @media screen and (max-width:529px){
        
        #last{
            top:650px;
        }
    }
    @media screen and (max-width:485px){
        #slast{
            top:440px;
        }
        #last{
            top:670px;
        }
    }
    @media screen and (max-width:419px){
        #slast{
            top:470px;
        }
        #last{
            top:680px;
        }
        svg{
            top:410px;
        }
    }
  @media screen and (max-width:468px){
      .glow2{
          top: 300px;
      }

  }
  @media screen and (max-width:324px){
    #slast{
        top:500px;
    }
    svg{
        top:440px;
    }
}