*{
    margin: 0px;
    padding:0px;
    
}
#circle{
    flex-direction: row;
    display: flex;
    padding: 30px 0;
    justify-content: space-evenly;
    align-items: center;
    
}
.containercircle{
    height: 300px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    
}

.box{
    position: relative;
    height:300px;
    width: 300px;
    border-radius:50%;
    overflow: hidden;
    animation:circle 1.5s ease;
    animation-delay:2s;
    
}
.box img{
    height: 100%;
    width: 100%;
    
}
.box:hover .inside{
    transform:rotate(180deg)
}

.inside{
    height: 100%;
    width:100%;
    border-width: 15px;
    border-style: solid;
    box-sizing: border-box;
    border-color: #353535 #FEC007 #FEC007 #353535 ;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 50%;
    transition: transform 1s;
    z-index: 9;
}
.text{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: linear-gradient(#ffafbd,#ffc3a0);
    color:white;
    
    position: absolute;
    top:0;
    left:0px;
    opacity:0;
}
.text h6{
    font-family:'Oswald',sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    font-size: 25px;
    margin-left: 10px;
}
.box:hover .text{
    opacity:1;
}
@media (max-width: 320px){
    .box{
        height: 85px  !important;
        width: 85px !important;
    }
    .inside{
        border-width: 4px !important;
    }
    .containercircle{
        height: 85px !important;
        width: 85px !important;
        margin: 2px !important;
    }
    .text h6{
        font-size: 10px !important;
        
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .containercircle{
        height: 110px;
        width: 110px;
        margin: 2px;
    }
    .box{
        height: 110px;
        width: 110px;
    }
    .inside{
        border-width: 8px;
    }
    .text h6{
        font-size: 10px ;
    }
}
@media (min-width: 480px) and (max-width: 569px) {
    .containercircle{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
    .box{
        height: 150px;
        width: 150px;
    }
    .inside{
        border-width: 8px;
    }
    .text h6{
        font-size: 10px ;
    }
}
@media (min-width: 569px) and (max-width: 968px) {
    .containercircle{
        height: 180px;
        width: 180px;
        margin: 5px;
    }
    .box{
        height: 180px;
        width: 180px;
    }
    .inside{
        border-width: 10px;
    }
    .text h6{
        font-size: 15px;
    }
}
@media (min-width: 968px) and (max-width: 1134px) {
    .containercircle{
        height: 200px;
        width: 200px;
        margin: 15px;
    }
    .box{
        height: 200px;
        width: 200px;
    }
    .inside{
        border-width: 10px;
    }
    .text h6{
        font-size: 20px;
    }
}
@media (min-width: 2100px) {
    .containercircle{
        height: 300px;
        width: 300px;
        margin: 25px;
    }
    .box{
        height: 300px;
        width: 300px;
    }
    .inside{
        border-width: 20px;
    }
    .text h6{
        font-size: 30px;
    }  
}