#s1{
    position: absolute;
    top: 0;
}

#s2{
    position:absolute;
    right: 0;
    bottom:0;
}

#p1{
    text-align:center;
    font-size: 60px;
}


.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 9999999999;
    top:5px;
    padding: 0;
    pointer-events: none;
    width: 100%;
  }
  .lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
  }
  .lightrope li:nth-child(2n+1) {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
  }
  .lightrope li:nth-child(4n+2) {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    animation-name: flash-3;
    animation-duration: 1.1s;
  }
  .lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
  }
  .lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
  }
  .lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
  }
  .lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
  }
  .lightrope li:last-child:after {
    content: none;
  }
  .lightrope li:first-child {
    margin-left: -40px;
  }
  @keyframes flash-1 {
    0%, 100% {
      background: rgba(0, 247, 165, 1);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
   }
    50% {
      background: rgba(0, 247, 165, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
   }
  }
  @keyframes flash-2 {
    0%, 100% {
      background: rgba(0, 255, 255, 1);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
   }
    50% {
      background: rgba(0, 255, 255, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
   }
  }
  @keyframes flash-3 {
    0%, 100% {
      background: rgba(247, 0, 148, 1);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
   }
    50% {
      background: rgba(247, 0, 148, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
   }
  }
  

@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #d54d56;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: #fff;
  font-family: 'Lobster', cursive;
  font-weight: 300;
  font-style:italic;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
   line-height: 0.8;
}
  h1 {
    font-size: 2em;}

