:root {
  --font: 'kg_a_little_swagregular';
  --font1: 'celebrater_personal_useRg';
}

.close {
  display: none !important;
}

.open-card {
  display: -ms-grid !important;
  display: grid !important;
}

.above-fold {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  -webkit-perspective: 800px !important;
          perspective: 800px !important;
  -webkit-perspective-origin: 50% 200px 1;
          perspective-origin: 50% 200px 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.above-fold .info-text {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  color: #555;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 3rem;
}

.wrap-present {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.present-box {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 200px !important;
  height: 200px !important;
  margin: auto;
  -webkit-animation: rotate 11s alternate linear infinite;
          animation: rotate 11s alternate linear infinite;
  cursor: pointer;
}

.present-box:hover {
  -webkit-animation: staticFront 700ms ease forwards;
          animation: staticFront 700ms ease forwards;
}

.present-box.open {
  /*&>.side.top{
          opacity: .2;
      }*/
  -webkit-animation: zoomIn 1s ease-in forwards;
          animation: zoomIn 1s ease-in forwards;
  -webkit-transform: rotateX(-103deg) rotateY(-180deg);
          transform: rotateX(-103deg) rotateY(-180deg);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.present-box.open > .side {
  opacity: 0;
  -webkit-transition: opacity 500ms 600ms;
  transition: opacity 500ms 600ms;
}

.present-box.open > .side.back {
  opacity: 0;
  -webkit-transform: translateZ(-101px) rotateY(180deg);
          transform: translateZ(-101px) rotateY(180deg);
}

.present-box.open > .side.front {
  -webkit-transition: opacity 500ms 600ms, -webkit-transform 800ms 0s;
  transition: opacity 500ms 600ms, -webkit-transform 800ms 0s;
  transition: transform 800ms 0s, opacity 500ms 600ms;
  transition: transform 800ms 0s, opacity 500ms 600ms, -webkit-transform 800ms 0s;
  -webkit-transform: translateZ(100px) rotateY(190deg) translateX(0px);
          transform: translateZ(100px) rotateY(190deg) translateX(0px);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  opacity: 0;
}

.present-box .present {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 50;
  -webkit-transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
          transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 600px;
          perspective: 600px;
  pointer-events: none;
  visibility: hidden;
}

.present-box .present > .img-wrap {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  opacity: 0;
  -webkit-transform: translateZ(-80px);
          transform: translateZ(-80px);
}

.present-box .present > .img-wrap a {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  position: relative;
  display: block;
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

.present-box .present > .img-wrap a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.present-box .present > .img-wrap img {
  max-width: 100%;
  height: auto;
}

.present-box > .side {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background: repeating-linear-gradient(45deg, #cc2000, #cc2000 20px, #ffffff 20px, #ffffff 40px);
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.present-box > .side.back {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
}

.present-box > .side.right {
  -webkit-transform: rotateY(-270deg) translateX(100px);
          transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.present-box > .side.left {
  -webkit-transform: rotateY(270deg) translateX(-100px);
          transform: rotateY(270deg) translateX(-100px);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.present-box > .side.top {
  -webkit-transform: rotateX(-90deg) translateY(-100px);
          transform: rotateX(-90deg) translateY(-100px);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100px;
          perspective: 100px;
  text-align: center;
}

.present-box > .side.top .to {
  display: inline-block;
  font-family: cursive;
  position: relative;
  padding: 10px 10px 30px 10px;
  border: 5px dotted #ff6666;
  border-width: 2px;
  background: #fff;
  margin: auto;
  -webkit-transform: translateZ(-2px) translateY(50px);
          transform: translateZ(-2px) translateY(50px);
}

.present-box > .side.top .to:after {
  content: 'Happy Birthday';
  display: inline-block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #990000;
}

.present-box > .side.top .to .name {
  display: block;
  position: absolute;
  -webkit-transform: translateY(20px) rotateY(180deg) translateX(10px);
          transform: translateY(20px) rotateY(180deg) translateX(10px);
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
  color: green;
}

.present-box > .side.bottom {
  -webkit-transform: rotateX(90deg) translateY(100px);
          transform: rotateX(90deg) translateY(100px);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.present-box > .side.front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateY(-360deg) rotateX(180deg);
            transform: rotateY(-360deg) rotateX(180deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateY(-360deg) rotateX(180deg);
            transform: rotateY(-360deg) rotateX(180deg);
  }
}

@-webkit-keyframes staticFront {
  100% {
    -webkit-transform: rotateX(-100deg) rotateY(-180deg);
            transform: rotateX(-100deg) rotateY(-180deg);
  }
}

@keyframes staticFront {
  100% {
    -webkit-transform: rotateX(-100deg) rotateY(-180deg);
            transform: rotateX(-100deg) rotateY(-180deg);
  }
}

@-webkit-keyframes zoomIn {
  50% {
    -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
            transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
  }
  100% {
    -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
            transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
  }
}

@keyframes zoomIn {
  50% {
    -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
            transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
  }
  100% {
    -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
            transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
  }
}

body {
  background-color: #faffb5;
}

main {
  display: none;
      grid-template-areas: 'side-left main main side-right';
}

* {
  margin: 0;
  padding: 0;
}

.blank {
  margin: 50px;
}

.blank-1 {
  margin: 25px;
}

.main-content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #faffb5;
  margin: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.wish {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 3rem;
  padding: 10px;
  color: #900808;
  text-shadow: 3px 3px 5px #00ff7ef5, -3px -3px 5px #499aff;
}

.sender {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-size: 4rem;
  font-family: var(--font1);
  color: seagreen;
}

.sender span:nth-child(1) {
  color: goldenrod;
  font-size: 8rem;
}

.sender span:nth-child(2) {
  color: blue;
  font-size: 8rem;
}

.sender span:nth-child(3) {
  color: red;
  font-size: 8rem;
}

.sender span:nth-child(4) {
  color: orange;
  font-size: 8rem;
}

.sender span:nth-child(5) {
  color: green;
  font-size: 8rem;
}

.sender span:nth-child(6) {
  color: purple;
  font-size: 8rem;
}

.birthday {
  font-family: var(--font);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-size: 9rem;
}

.birthday span:nth-child(1) {
  color: goldenrod;
}

.birthday span:nth-child(2) {
  color: blue;
}

.birthday span:nth-child(3) {
  color: red;
}

.birthday span:nth-child(4) {
  color: orange;
}

.birthday span:nth-child(5) {
  color: green;
}

.birthday span:nth-child(6) {
  color: purple;
}

.birthday span:nth-child(7) {
  color: seagreen;
}

.birthday span:nth-child(8) {
  color: #658100;
}

.cake {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#cake {
  width: 500px;
}

marquee {
  height: 100%;
}

.side-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: side-left;
  height: 100%;
  width: 60%;
  margin: auto;
  background-color: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-left img {
  margin: auto;
  width: 70px;
}

.side-right {
  height: 100%;
  width: 60%;
  margin: auto;
  background-color: #fff !important;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: side-right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-right img {
  margin: auto;
  width: 90px;
}

@media (max-width: 300px) {
  .side-right {
    height: 150% !important;
  }
  .side-left {
    height: 150% !important;
  }
}

@media (max-width: 425px) {
  .side-right {
    height: 125%;
  }
  .side-left {
    height: 125%;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  background-color: #25d366;
  border-radius: 100px;
  color: #ffffff;
  text-decoration: none;
  width: 100px;
  height: 100px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 25px -6px black;
  box-shadow: 0px 0px 25px -6px black;
  -webkit-animation: effect 5s infinite ease-in;
          animation: effect 5s infinite ease-in;
}

@-webkit-keyframes effect {
  20%, 100% {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
  0%, 10% {
    width: 105px;
    height: 105px;
    font-size: 20px;
  }
  5% {
    width: 100px;
    height: 100px;
    font-size: 25px;
  }
}

@keyframes effect {
  20%, 100% {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
  0%, 10% {
    width: 105px;
    height: 105px;
    font-size: 20px;
  }
  5% {
    width: 100px;
    height: 100px;
    font-size: 25px;
  }
}

@media (max-width: 540px) {
  .whatsapp-button {
    bottom: 35px;
    width: 250px;
    height: 250px;
  }
}
/*# sourceMappingURL=birthday-wish-by-monika.css.map */