body{
    background:black;
    width:100%;
  }
  canvas{
    background:#000;
  }
  h1{
    color: white;
     position: absolute;
     
   text-align: center;
   width: 100%;
  }

  
  svg{
      top:400px;
      width:100%;
      align-items: center;
  }
 


    #slast{
        font-size: 30px;
        text-align: center;
        position: relative; 
        width: 100%;
        font-family:'Great Vibes';
         color:#fff;
         top: 350px;
    }
    #last{
         color:white;
         font-family: cursive;
         position: absolute;
         top:400px;
         width:100%;
    }

    @media screen and (max-width:529px){
        
        #last{
            top:650px;
        }
    }
    @media screen and (max-width:485px){
        #slast{
            top:440px;
        }
        #last{
            top:670px;
        }
    }
    @media screen and (max-width:419px){
        #slast{
            top:470px;
        }
        #last{
            top:680px;
        }
        svg{
            top:410px;
        }
    }
  @media screen and (max-width:468px){
      .glow2{
          top: 300px;
      }

  }
  @media screen and (max-width:324px){
    #slast{
        top:500px;
    }
    svg{
        top:440px;
    }
}
