.container{
    position: relative;
    height:400px;
    width:70%;
    
    margin: auto;
    
}

.clip{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
    transition: all 0.5s;

}
.clip.imgdiwali{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
    background: url('../images/diwalishape.png');
   background-repeat: no-repeat;
   background-size: 1063px 400px;
}


.clip.imgbirthday{
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%);
    background: url(../images/birthdayshape.png);
    background-repeat: no-repeat;
    background-size: 1063px 400px;
    
}



 .container:hover .clip.imgdiwali:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
    z-index: 9999;
}
.container:hover .clip.imgbirthday:hover{
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }

