@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.all-page-content-margin-subtract {
    margin-top: 0 !important;
}

.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    .desktop-nav {
        position: relative;
        margin: 0 auto !important;
        width: 90%;
        height: 100%;
        @include flex-row();
        .logo {
            width: max-content;
            height: 100%;
            .logo-img {
                float: left;
                width: max-content;
                height: 100%;
            }
            .logo-text {
                float: right;
                h1 {
                    line-height: 100px;
                }
            }
        }
        .list {
            margin: 0 !important;
            width: max-content;
            height: 100%;
            list-style: none;
            @include flex-row();
            li {
                padding: 0 2rem;
            }
        }
        .toggle-btn {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            @include flex-column();
            justify-content: center !important;
            align-items: center !important;
            display: none;
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}

header.mobile .mobile-nav {
    height: 0;
    display: none;
}

header.mobile .mobile-nav.mobile-link-active {
    height: 0;
    display: none;
}

.home {
    width: 100%;
    height: 75vh;
    .carousel {
        width: 100%;
        height: 100%;
        .carousel-inner {
            width: 100%;
            height: 100%;
            .carousel-item {
                width: 100%;
                height: 100%;
                .slideshow-img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .navbar-header {
        nav {
            width: 100%;
            .logo {
                .logo-text {
                    h1 {
                        font-size: 1.5rem;
                    }
                }
            }
            .toggle-btn {
                display: flex !important;
            }
        }
    }
    .list {
        display: none !important;
    }
    header.mobile .mobile-nav {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 0;
        display: block;
        overflow: hidden;
        transition: height 0.5s;
        background: #fff;
        .mobile-nav-list {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            ul {
                margin: 1.25rem 2.5rem;
                padding: 0;
                width: 100%;
                height: 100%;
                list-style: none;
                @include flex-column();
                align-items: left !important;
            }
            li {
                opacity: 0;
                flex: 1;
                a {
                    text-align: center;
                    text-decoration: none;
                    color: #1f1f1f;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 400;
                    font-size: 1 rem;
                    font-style: normal;
                    font-variant: normal;
                }
            }
            li.mobile-nav-li-active {
                opacity: 1;
                transition: opacity 0.3s;
            }
            li.mobile-nav-li-active:nth-child(1) {
                transition-delay: 0.1s;
            }
            li.mobile-nav-li-active:nth-child(2) {
                transition-delay: 0.2s;
            }
            li.mobile-nav-li-active:nth-child(3) {
                transition-delay: 0.3s;
            }
            li.mobile-nav-li-active:nth-child(4) {
                transition-delay: 0.4s;
            }
        }
    }
    header.mobile .mobile-nav.mobile-nav-active {
        margin: 100px 0 0 0;
        display: block;
        height: 200px;
        transition: height 0.5s;
    }
    .home {
        height: 50vh;
    }
}

@media (max-width: 540px) {
    .navbar-header {
        nav {
            width: 100%;
            .logo {
                .logo-text {
                    h1 {
                        font-size: 1.25rem;
                    }
                }
            }
            .home {
                height: 50vh;
            }
        }
    }
}