@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    margin: 0 !important;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.all-page-content-margin-subtract {
    margin-top: 0 !important;
}

.navbar-header {
    width: 100%;
    height: 100px;
    .desktop-nav {
        position: relative;
        margin: 0 auto !important;
        width: 90%;
        height: 100%;
        @include flex-row();
        .logo {
            width: max-content;
            height: 100%;
            .logo-img {
                float: left;
                width: max-content;
                height: 100%;
            }
            .logo-text {
                float: right;
                h1 {
                    line-height: 100px;
                }
            }
        }
        .list {
            margin: 0 !important;
            width: max-content;
            height: 100%;
            list-style: none;
            @include flex-row();
            li {
                padding: 0 2rem;
                a {
                    color: #1f1f1f;
                    font-size: 1.5rem;
                }
            }
        }
        .toggle-btn {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            @include flex-column();
            justify-content: center !important;
            align-items: center !important;
            display: none;
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}

header.mobile .mobile-nav {
    height: 0;
    display: none;
}

header.mobile .mobile-nav.mobile-link-active {
    height: 0;
    display: none;
}

.home {
    width: 100%;
    height: 75vh;
    .carousel {
        width: 100%;
        height: 100%;
        .carousel-inner {
            width: 100%;
            height: 100%;
            .carousel-item {
                width: 100%;
                height: 100%;
                .slideshow-img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.contact-us {
    margin: 0 auto !important;
    width: 70% ;
    height: 450px ;
    border-radius: 50px;
    background-color: #fff;
    
    h1 {
        font-size: 2rem;
        padding: 2rem 0 0 0;
        text-align: center;
        margin: 0 !important;
    }
    .form-group {
        .form-check {
            label {
                font-size: 14px !important;
            }
        }
    }
}
.needs-validation{
    width: 80% !important;
    margin: auto;
    
}

@media (min-width: 968px) and (max-width: 1134px) {
    .navbar-header {
        nav {
            width: 100%;
            .logo {
                .logo-text {
                    h1 {
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }
    .contact-us {
        margin: 0 auto !important;
        width: 50% !important;
        height: max-content;
    }
}

@media (max-width: 968px) {
    .navbar-header {
        nav {
            width: 100%;
            .logo {
                .logo-text {
                    h1 {
                        font-size: 1.5rem;
                    }
                }
            }
            .toggle-btn {
                display: flex !important;
            }
        }
    }
    .list {
        display: none !important;
    }
    header.mobile .mobile-nav {
        margin: 0 !important;
        padding: 0;
        width: 100%;
        height: 0;
        display: block;
        overflow: hidden;
        transition: height 0.5s;
        background: #fff;
        .mobile-nav-list {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            ul {
                margin: 1.25rem 2.5rem;
                padding: 0;
                width: 100%;
                height: 100%;
                list-style: none;
                @include flex-column();
                align-items: left !important;
            }
            li {
                opacity: 0;
                flex: 1;
                a {
                    text-align: center;
                    text-decoration: none;
                    color: #1f1f1f;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 400;
                    font-size: 1 rem;
                    font-style: normal;
                    font-variant: normal;
                }
            }
            li.mobile-nav-li-active {
                opacity: 1;
                transition: opacity 0.3s;
            }
            li.mobile-nav-li-active:nth-child(1) {
                transition-delay: 0.1s;
            }
            li.mobile-nav-li-active:nth-child(2) {
                transition-delay: 0.2s;
            }
            li.mobile-nav-li-active:nth-child(3) {
                transition-delay: 0.3s;
            }
            li.mobile-nav-li-active:nth-child(4) {
                transition-delay: 0.4s;
            }
        }
    }
    header.mobile .mobile-nav.mobile-nav-active {
        margin: 100px 0 0 0;
        display: block;
        height: 200px;
        transition: height 0.5s;
    }
    .home {
        height: 50vh;
    }
    .contact-us {
        margin: 0 auto !important;
        width: 70% !important;
        height: 500px;
    }
}

@media (max-width: 540px) {
    .navbar-header {
        nav {
            width: 100%;
            .logo {
                .logo-text {
                    margin-right: 10px;
                    margin-left: -20px;
                    h1 {
                        font-size: 1.25rem;
                    }
                }
            }
            .home {
                height: 50vh;
            }
        }
    }
    .contact-us {
        margin: 0 auto !important;
        width: 75% ;
        height: 500px;
    }
    .line{
        width: 180px !important;
    }
    .footer{
        .footer-links{
            height: 100px !important;
            max-height: 100px !important;
        }
    }
}

@media (max-width: 320px) {
    .navbar-header {
        height: 80px;
        nav {
            width: 100%;
            .logo {
               
                .logo-text {
                    h1 {
                        font-size: 1.05rem;
                    }
                }
            }
            .home {
                height: 50vh;
            }
        }
    }
    .toggle-btn h1 {
        margin-top: 15px;
    }
    .contact-us{
        height: 500px;
        width: 90% !important;
    }
    .line{
        width: 150px !important;
    }
}

@media (min-width: 2100px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 80px !important;
        height: 80px !important;
    }
    .navbar-header {
        height: 80px;
        nav {
            width: 100%;
            .logo {
                // .logo-img img{
                //     height: 80px;
                //     width: 80px;
                // }
                .logo-text {
                    h1 {
                        font-size: 3.25rem;
                    }
                }
            }
            .home {
                height: 50vh;
            }
        }
    }
    .navbar-header .desktop-nav .list {
        margin: 0 !important;
        width: 1200px;
        height: 100%;
        list-style: none;
        @include flex-row();
        li {
            padding: 0 2rem;
            a {
                font-size: 2.5rem;
                line-height: 60px;
            }
        }
    }
    .contact-us {
        margin: 0 auto !important;
        width: 60% !important;
        height: max-content;
        height: 500px;
    }
}

.carousel-control-prev, .carousel-control-next {
    width: 10% !important;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: #1f1f1f54;
    box-shadow: 10px 0px 10px #1f1f1f, -10px 0px 10px #1f1f1f,;
}

.line{
    width: 200px;
    height: 5px;
    background-color: #1f1f1fa8;
    border-radius: 20px;
    
    margin-bottom: 2rem !important;
    margin: auto;
}

.footer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .column-footer{
        flex: 1;
        height: 300px;
        min-width: 300px;
        min-height: 300px;
    }
    .footer-links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        a{
            padding: 10px;
            border: 1px solid #1f1f1f;
            border-radius: 50%;
            line-height: 0;
            font-size: 28px;
            color: #666666;
            transition: color 0.25s;
        }
        a:hover{
            color: #1f1f1f;
            transition: color 0.25s;
        }
    }
    .footer-logo{
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        img{
            height: 250px;
        }
    }
    .support{
        h3{
            text-align: center;
        }
        input{
            margin: 20px;
            width: 80%;
            height: 40px;
            border: 2px solid #1f1f1f;
            border-radius: 10px;
            padding: 10px 5px;
            outline: none;
            max-width: 400px;
        }
        input:focus{
            box-shadow: 0 0 10px #1f1f1f;
        }
    }
}

.copyright{
    width: 100%;
    color: #1f1f1f;
    text-align: center;
    background-color: #666666;
    p{
        margin: 0;
        padding: 0;
    }
}

.space{
    margin: 50px;
}

.categories{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
