*{
    margin: 0px;
    padding:5px;
    display:flex;
    
}
.containercircle{
    height: 300px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    
}
.box{
    border: 2px solid black;
    position: relative;
    height:300px;
    width: 300px;
    border-radius:50%;
    overflow: hidden;
    animation:circle 1.5s ease;
    animation-delay:2s;
    
}
.box img{
    height: 100%;
    width: 100%;
    
}
.box:hover .inside{
    transform:rotate(180deg)
}

.inside{
    height: 100%;
    width:100%;
    border-width: 20px;
    border-style: solid;
    box-sizing: border-box;
    border-color: #353535 #FEC007 #FEC007 #353535 ;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 50%;
    transition: transform 1s;
    z-index: 9;
}
.text{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: linear-gradient(#ffafbd,#ffc3a0);
    color:white;
    font-size:30px;
    font-family:'Oswald',sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing:2px;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
}
.box:hover .text{
    opacity:1;
}
@keyframes circle{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(360deg);
    }
}